<div>
  <link href="./testimonial-card41.css" rel="stylesheet" />
  <div class="testimonial-card41-testimonial-card">
    <div class="testimonial-card41-container">
      <h1 class="testimonial-card41-text"><span>Results</span></h1>
    </div>
    <div class="testimonial-card41-profile">
      <div class="testimonial-card41-container1">
        <span class="testimonial-card41-text1"><span>Comments</span></span>
        <span class="testimonial-card41-text2">
          <span>
            Patient received electroconvulsive therapy (ECT). Procedure went
            smoothly without complications. Patient was cooperative throughout
            the session. Will continue to monitor for any adverse reactions.
          </span>
        </span>
      </div>
    </div>
  </div>
</div>
