<div>
  <link href="./testimonial-card1.css" rel="stylesheet" />
  <div class="testimonial-card1-testimonial-card">
    <svg viewBox="0 0 1024 1024" class="testimonial-card1-icon">
      <path
        d="M896 256h-192v-128c0-35.2-28.8-64-64-64h-256c-35.2 0-64 28.8-64 64v128h-192c-70.4 0-128 57.6-128 128v512c0 70.4 57.6 128 128 128h768c70.4 0 128-57.6 128-128v-512c0-70.4-57.6-128-128-128zM384 128h256v128h-256v-128zM768 704h-192v192h-128v-192h-192v-128h192v-192h128v192h192v128z"
      ></path>
    </svg>
    <div class="testimonial-card1-testimonial">
      <span class="testimonial-card1-text">
        <span>
          Persistent feelings of sadness, emptiness, hopelessness, Insomnia,
          Fatigue, Anxiety, Feeling of guilt
        </span>
      </span>
      <span class="testimonial-card1-text1"><span>Jane Doe</span></span>
      <span class="testimonial-card1-text2"><span>1 year</span></span>
      <img
        alt="profile"
        src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&ixlib=rb-1.2.1&h=1200"
        class="testimonial-card1-image"
      />
    </div>
  </div>
</div>
